@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* base style */

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #646464;
}
p,
h1,
h2,
h3,
h4.h5,
h6 {
  color: #646464;
}

li {
  list-style: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

input {
  width: 100%;
}

input::placeholder{
  font-size: 16px;
}

button {
  display: inline-block;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 4px rgba(224, 115, 47, 0.2);
}

header .logo {
  width: 120px;
  /* height: 100%; */
  flex-shrink: 0;
}

header div.logo img {
  width: 100%;
  /* height: 100%; */
}
header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}

header nav .search-bar {
  position: relative;
  width: 347px;
}
header nav .search-bar .svg {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
header nav .search-bar input {
  border: 1px solid #e0732f;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
header nav ul li:not(:nth-child(2)) {
  background-color: #f4f4f4;
  border-radius: 10px;
}

header nav ul li a {
  padding: 0.5rem 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #e0732f;
}

main {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Hero */
img {
  overflow: hidden;
  width: 100%;
}
div.hero {
  background: url("./assets/hero.png") no-repeat center center/cover;
  height: 484px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.hero .text-content {
  max-width: 701px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 1.5rem 0.2rem;
  border-radius: 8px;
  font-size: 42px;
}

/* Product grids*/

article {
  padding: 4rem 2rem;
  border: 1px solid #e0732f;
}

article .section-title {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0.5rem 0 3.5rem 0;
}

article .grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

article .grid-items .card {
  position: relative;
  border-radius: 10px;
}
article .grid-items .card img {
  border-radius: 10px;
}

article .grid-items .card .tag {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(243, 243, 243, 0.8);
  border-radius: 0px 0px 15px 15px;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  color: #141414;
}
article .grid-items .card .tag a {
  font-weight: bold;
  color: #141414;
}
article.new-trade .grid-items .card .tag a {
  font-weight: 400;
}

article.new-trade .grid-items .card .tag a span {
  color: #e0732f;
}

footer h3 {
  font-size: 24px;
  color: #646464;
}

footer {
  background: #fcf1ea;
}
footer .container {
  padding: 4rem 2.5rem 2.5rem 2.5rem;
}
footer .container .wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0732f;
  padding-bottom: 1.5em;
}

footer .container .wrapper .logo {
  width: 120px;
  border: solid;
}

footer .container .wrapper .about-us p {
  max-width: 447px;
}

footer .container .wrapper .about-us h3,
footer .container .wrapper .newsletter h3 {
  margin-top: 2rem;
}

footer .container .wrapper ul li {
  margin-top: 0.8rem;
}

footer .container .wrapper button {
  padding: .8rem 3rem;
  background: #E0732F;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
}

footer .container .wrapper .newsletter .form-group {
  width: 248px;
  position: relative;
}
footer .container .wrapper .newsletter .form-group input{
  padding: 1rem;
  padding-left: 2rem;
  border: none;
}

footer .container .wrapper .newsletter .form-group .svg{
position: absolute;
top: 0;
left: 0;
width: 2rem;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}

footer .container .wrapper .newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
